body {
  margin: 0;
  padding: 0;
  min-height: 150vh; 
  display: flex; 
  background-color: rgb(36, 84, 131);
  background-image: url("bluegradient.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 
  font-family: "EB Garamond", serif;
}

/* General text container */
.text-container {
  position: relative;
  width: 80%;
  max-width: 700px;
  padding: 1.5rem;
  text-align: center;
  margin: 1rem 0; 
}

/* Original text */
.text-original {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-optical-sizing: auto;
  color: #c9c8c8;
  line-height: 1.8;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-size: 1.5rem;
}

/* Hover text effect */
.text-original:hover {
  color: rgba(0, 0, 0, 0.2); 
}

/* Show translation on hover */
.text-original::after {
  content: attr(data-hover); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nanum Brush Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #acd2ef;
  opacity: 0;
  text-shadow: 0 0 10px rgba(147, 198, 252, 0.8), 
               0 0 20px rgba(126, 189, 255, 0.6), 
               0 0 30px rgba(67, 146, 230, 0.4),
               0 0 30px rgba(37, 119, 207, 0.4),
               0 0 30px rgba(0, 94, 193, 0.4);
  transition: opacity 0.5s ease-in-out;
}

/* When hovering over the text, reveal the translation */
.text-original:hover::after {
  opacity: 1;
}

/* Navigation links */
.previous-link {
  font-family: "Poppins", serif;
  font-weight: 300;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.next-link {
  font-family: "Poppins", serif;
  font-weight: 300;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.star-link {
  font-family: "Poppins", serif;
  font-weight: 300;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.previous-link:hover, .next-link:hover, .star-link:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgb(186, 186, 186), 0 0 15px rgb(152, 152, 152), 0 0 20px rgb(118, 118, 118); /* Stronger glow on hover */
}