body {
  margin: 0;
  padding: 0;
  display: flex; 
  background-image: linear-gradient(to bottom, #eed67d, #eaaf7b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "EB Garamond", serif;
  min-height: 150vh; /* Extends the page height */
}

/* General text container */
.text-container {
  position: relative;
  width: 80%;
  max-width: 700px;
  padding: 1.5rem;
  text-align: center;
  margin: 2rem 0; /* Increased margin to prevent text overlap */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Image styles */
.text-image {
  width: 40%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* Position the text below the image */
.text-original {
  font-family: "Nanum Brush Script", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #c8677e;
  line-height: 1.6;
  text-align: center;
  position: relative; /* Change from absolute to relative so it stacks properly */
  margin-top: 10px; /* Adds space between image and text */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

/* Show the text when hovering over the image */
.text-container:hover .text-original {
  opacity: 1;
  visibility: visible;
  text-shadow: 0 0 10px rgba(252, 251, 251, 0.8),
               0 0 20px rgba(250, 164, 194, 0.6),
               0 0 30px rgba(252, 152, 185, 0.4),
               0 0 40px rgba(251, 138, 189, 0.2);
}

/* Style the English text separately */
.text-english {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-size: 18px;
  color: #c8677e;
  display: block;
  margin-top: 5px;
}

/* Navigation links */
.previous-link {
  font-family: "Poppins", serif;
  font-weight: 300;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(230, 195, 97);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.next-link {
  font-family: "Poppins", serif;
  font-weight: 300;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(230, 195, 97);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.star-link {
  font-family: "Poppins", serif;
  font-weight: 300;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(230, 195, 97);
  transition: opacity 0.5s ease-in-out;
  z-index: 3;
}

.previous-link:hover, .next-link:hover, .star-link:hover {
  color: #7e6b4b;
  text-shadow: 0 0 10px rgb(254, 237, 215), 0 0 15px rgb(217, 191, 130), 0 0 20px rgb(178, 138, 63); 
}





