* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor: none;
    color: rgb(67, 67, 67);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
}

.text-container {
    position: relative;
    width: 80%;
    max-width: 700px;
    padding: 1.5rem;
    text-align: center;
    margin: 1rem auto;
}

.text-original {
    font-family: "Poppins", serif;
    font-weight: 300;
    display: inline-block;
    position: relative;
    text-align: center;
    white-space: normal;
}

/* Make hover text appear centered below */
.text-original::after {
    content: attr(data-hover); 
    display: block;
    max-width: 500px;
    margin: 10px auto;
    font-family: "Nanum Brush Script", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #4B527E;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    white-space: normal;
    text-align: center;
}

/* Make translation visible */
.text-original.active::after{
    opacity: 1;
}

.previous-link {
    font-family: "Poppins", serif;
    font-weight: 300;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}

.next-link {
    font-family: "Poppins", serif;
    font-weight: 300;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}

.star-link {
    font-family: "Poppins", serif;
    font-weight: 300;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
}
  
  .previous-link:hover, .next-link:hover, .star-link:hover {
    color: #4B527E;
    text-shadow: 0 0 10px rgb(215, 223, 254), 0 0 15px rgb(130, 140, 217), 0 0 20px rgb(63, 86, 178); /* Stronger glow on hover */
  }

#flashlight {
    --Xpos: 50vw;
    --Ypos: 50vh;
    position: fixed;  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2; 
}

#flashlight:before{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
        circle 9em at var(--Xpos) var(--Ypos),
        rgba(0,0,0,0),
        rgba(0,0,0,0.9)
    );
}
/* Adjust for better readability on larger screens */
@media screen and (min-width: 800px) {
    body {
        font-size: 24px;
    }
}
